* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%) no-repeat;
  height: 100vh;
  width: 100%;
}

.alphabet {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}
.alphabet .box {
  background-color: rgb(230, 198, 198);
  color: white;
  margin-left: 10px;
  height: 100px;
  width: 110px;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.alphabet .box .chk {
  color: aqua;
  padding-top: 15px;
  font-size: 15px;
}
.box .imp {
  font-size: 45px;
}
